{% extends 'base.html.twig' %}

{% block title %}{{ job.title }}{% endblock %}

{% block body %}
    <div>
        <h1>{{ job.title}} <a type="button" class="btn btn-outline" href="/postuler/{{ job.id }}">Postuler</a></h1>
    </div>

    <p>
        Créée le {{ job.createdAt|date('d/m/Y') }}
    </p>

    <p>
        {{ job.description|nl2br }}
    </p>
{% endblock %}
